@import "../variables/variables";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&family=Macondo&display=swap');

main {
    background: linear-gradient( rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.50)), url(../img/instatprint-foto.jpg) no-repeat fixed;
    min-height: 100vh;

}

h1{
    font-size: $size;
    font-family:'Comfortaa', cursive;
    text-align: center;
    color: white;
    padding: 5%;
    min-width:min-content;

}

h2{
    padding: 50px 200px 50px 200px;
}
.segundo-encabezado{
    text-align: center;
    font-size: large;
    color: $color;
}


