@import "../variables/variables";



h3 {
    color: $color;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin: 5%;
}

.foto-nosotros{
    max-width: 50%;
}